*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    width: 100vw;
    height: 8vh;
    background-color: black;
    color: white;
    /* padding-inline-start: 15px;
    padding-top: 15px; */
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.container{
    width: 100vw;
    height: 98vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,194,233,1) 100%);
    flex-direction: column;
    gap: 5vh;
    
}

.line{
    width: 0;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 0;
    rotate: top;
    transition: width 0.3s ease-in-out;
    /* transform: translateY(0) translateX(0) rotate(0deg); */
}

.game-container{
    width: 36vmax;
    height: 36vmax;
    background-color:#154c79;
    display: grid; 
    grid-template-rows: repeat(3,12vmax);
    grid-template-columns: repeat(3,12vmax);
    box-shadow: 5px 5px 25px #05365f ;
    position: relative;
}

.box{
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    transition: all 0.3s ease-in ;
    color: white;
}

.box:hover{
    background-color: #2c6b9e;
}

.bt{
    border-top: 0;
}

.bl{
    border-left: 0;
}

.br{
    border-right: 0;
}

.bb{
    border-bottom: 0;
}

.turn-reset{
    font-size: 1.5rem;
    gap: 15vw;
}

#btn{
    padding: 7px 24px;
    border: none;
    background-color: rgb(237, 9, 9);
    color: white;
    font-size: 1.5rem;
    font-family: 'Roboto' ,'sans-serif';
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    box-shadow: 3px 3px 7px rgb(116, 17, 17);
}

#btn:hover{
     background-color: rgb(116, 41, 41);
}